* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.center {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px; 
}

.header {
    width: 100%;
    height: 60px;
    background: #212343;
    padding: 0 2%;
}

.bg-logo {
    height: 60px;
    width: 145px;
    background: url('../images/logo.png') center center no-repeat;
}

/* ================================================================================================== */

.container-banner {
    width: 100%;
    padding: 0 2%;
    position: relative;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-size: cover;
    background-position: center;
}


.container-banner > .center {
    height: 100%;
} 

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    position: relative;
    top: -15px;
    float: right;
    border: 10px solid #ccc;
    background-color: #fff;
    border-color: rgba(120, 120, 120, 0.5);
    background-clip: padding-box;
}

.form h2 {
    color: #999;
    font-weight: normal;
    font-size: 21px;
}
input {
    border: none;
    border-left: 2px solid #ccc;
    width: 98%;
    margin-top: 8px;
    height: 55px;
    padding-left: 5px;
    margin-bottom: 15px;
    font-size: 17px;
}
.input-container {
    margin-top: 20px;
    color: #999;
}
.input-container span, .input-container p {
    display: inline-block;
    width: 100%;
    color: #bbb;
    font-size: 17px;
    font-weight: bold;
}
.input-container small {
    color: red;
}
.input-container p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-container input[type="submit"] {
    background-color: #363A6D;
    border: none;
    border-bottom: 5px solid #4A5097;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    width: 98%;
    height: 56px;
}
.input-submit-container {
    text-align: center;
}
.input-container input[type="submit"]:hover {
    background-color: #323665;
} 

.container-list {
    margin-top: 100px;
    padding: 30px;
    float: left;
    width: 45%;
    height: 270px;
    background-color: rgba(33,35,67,0.7);
}
.container-list ul {
    list-style-position: inside;
    color: #fff;
}
.container-list li {
    margin-top: 18px;
}
.container-list ul li:first-child {
    margin-top: 0;
}
.container-2 {
    background-color: #cccccc;
    padding: 40px 0;
    text-align: center;
}
.container-2 h2 {
    font-weight: normal;
    text-align: center;
}
.container-2 p {
    width: 100%;
    padding: 0 2%;
    max-width: 768px;
    margin: 15px 0;
    text-align: justify;
    display: inline-block;
}
.arrow {
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    background-image: url(../images/arrow.png);
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
}
.section-1 {
    padding: 90px 2%;
}
.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}
.container-section {
    margin-top: 40px;
    text-align: center;
}
.container-single{
    display: inline-block;
    width: 33.3%;
    margin-right: -4px;
    padding:30px;
}
.container-single:last-child {
    margin-right: 0px;
}
.container-single p{
    display: inline-block;
    text-align: justify;
    padding:10px 25px;
}

.container-single img{
    width: 70px;
}

.footer {
    border-top: 4px solid #888;
    padding: 20px 0;
    text-align: center;
}
.clear {
    clear: both;
}

/* responsividade */

@media screen and (max-width: 1024px) {
    .bg-logo {
        margin: 0 auto;
    }
    .container-banner {
        text-align: center;
        width: 100%;
        padding: 40px 2%;
        height: auto;
    }
    .form {
        max-width: 400px;
        width: 90%;
        height: 100%;
        display: inline-block;
        float: none;
        margin-left: 20px; 
        top: 0;
    }

}
@media screen and (max-width: 768px) {
    .container-list {
        margin-top: 0;
        width: 100%;
        max-width: 500px;
        float: none;
        display: inline-block;
    }
    .container-single {
        width: 100%;
        display: block;
    }
    .form {
        margin-top: 30px;
        margin-left: 0; 
    }
    .input-container span, .input-container p {
        text-align: left;
    }
}